<div class="p-5">
{{#if loggedIn}}
    <h1>I cant remember what we are showing if logged in</h1>
    <p>maybe {{user.name}} or {{mealplan}} ?</p>
    <button type="button" class="btn btn-primary p-5">Get Meal Plan</button>
</div>
{{#else}}
    <h1>Log in!</h1>
{{/if}}