<div class="p-5">
    <h1 class="text-center">Recipe</h1>
    <!--maybe image here img src = {{meal.img}}?-->
    <h2 class="text-center">Ingredients</h2>
    <p><!--ingredients tag here im not sure if i am calling this correctly-->{{ meal.ingredients }}</p>
    <h2 class="text-center">Preparation</h2>
    <p><!--preparation if can get from recipe object, same as above--> {{ meal.preparation }}</p>
    <h2 class="text-center">Recipe</h2>
    <p><!--meal.recipe-->{{ meal.recipe }}</p>
</div>


{{!-- can have another div down here if we have a way to find related recipes, or any other info maybe comment section since no more chat? --}}