<div class="container text-center p-5">
    <div class="card">
      <h1>Register</h1>
        <form class="form signup-form">
        <div class="mb-3">
            <label for="username-signup" class="form-label">Name:</label>
            <input class="form-control col-sm-3 text-center" type="text" id="username-signup"> <!-- username selector id here-->
        </div>
        <div class="mb-3">
            <label for="email-signup" class="form-label">Email:</label>
            <input class="form-control text-center" type="text" id="email-signup"> <!--email selector here-->
        </div>
        <div class="mb-3">
            <label for="password-signup" class="form-label">Password:</label>
            <input class="form-control text-center" type="password" id="password-signup"> <!--password selector here-->
        </div>
        <div class="mb-3">
            <label for="favorite-food" class="form-label">Favorite Food:</label>
            <input class="form-control text-center" type="password" id="favorite-food"> <!--favorite food if needed-->
        </div>
        <div class="mb-3">
        <button class="btn btn-primary" type="submit">Register</button>
        </div>
        </form>    
    </div>
</div>

<script src="/public/js/login.js"></script>